.TodoList {
  margin: 0;
  padding: 0 1rem;
  list-style-type: none;

  &-item {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  &-itemDate {
    font-size: 12px;
    color: #4c4b4b;
    margin-top: 10px;
    font-weight: 600;
  }

  &-itemBlock {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  &-itemTitle {
    font-size: 1.5em;
    color: #3f4043;
    line-height: 1;
  }

  &-itemDescription {
    margin: 0;
    color: grey;
  }

  &-itemButton {
    background: #f53e7e;
    border-radius: 3px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    height: 30px;
    padding: 0 30px;
    box-shadow: 0 2px 3px 2px rgba(120, 117, 111, 0.3);
    text-transform: uppercase;

    &:hover {
      background: #f50057;
      cursor: pointer;
    }
  }
}
